<!DOCTYPE html>
<html lang="de">

<head>

<meta charset="UTF-8">

<meta name="viewport"
      content="width=device-width, initial-scale=1">

<title>IP Dashboard</title>

<style>

body {

    margin: 0;

    padding: 30px;

    background: #0d1117;

    color: white;

    font-family: Arial;

}

table {

    width: 100%;

    border-collapse: collapse;

    background: #161b22;

}

th,
td {

    padding: 12px;

    border: 1px solid #30363d;

    text-align: left;

}

th {

    background: #21262d;

}

</style>

</head>

<body>

<h1>IP Dashboard</h1>

<table>

<tr>

<th>Zeit</th>
<th>IP</th>
<th>Browser</th>

</tr>

{% for entry in entries %}

<tr>

<td>
{{ entry["Zeit"] }}
</td>

<td>
{{ entry["IP"] }}
</td>

<td>
{{ entry["Browser"] }}
</td>

</tr>

{% endfor %}

</table>

</body>

</html>
